body{
	background-color: #f8f8f8;
	padding-top: 60px;
}

.jumbotron{

	background-color: #f8f8f8;
}

/* Welkom + naam*/
.inputName{
	width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#logo
{
	height: 30px;
 	width: auto;
}

/* Navbar kleur */
.navbar
{
	background-color: rgb(7,76,188);
}

/* tekst navbar wit */
.nav.navbar-nav li a
{
	color: rgb(255,255,255);
}


/* Navbar background wit bij logo ipv. blauw */
.navbar-brand
{
	background-color:rgb(255,255,255);
}


/* Navbar achtergrond donker bij hover */
.navbar-default .navbar-brand:hover
{
	background-color:rgb(235,235,235);
}

.nav.navbar-nav li a:hover
{
	background-color:rgb(7,58,140);
	color: rgb(255,255,255);
}


/* Burger button witte lijnen, bij hover zwart */
.navbar-default .navbar-toggle .icon-bar
{
	background-color: rgb(255,255,255);
}

.navbar-default .navbar-toggle:hover .icon-bar
{
	background-color: rgb(0,0,0);
}


/* foto's bij contact correcte grote*/
.contactFoto
{
	height: 500px;
	width: auto;
}
