body{
	background-color: #f8f8f8;
}

.jumbotron{

	background-color: #f8f8f8;
}

.inputName{
	width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#logo
{
	height: 30px;
 	width: auto;
}


.navbar
{
	background-color: rgb(7,76,188);
}

.navbar-brand
{
	background-color:rgb(255,255,255);
}

.navbar-default .navbar-brand:hover
{
	background-color:rgb(235,235,235);
}




.nav.navbar-nav li a
{
	color: rgb(255,255,255);
}

.nav.navbar-nav li a:hover
{
	background-color:rgb(7,58,140);
	color: rgb(255,255,255);
}



body
{
	padding-top: 60px;
}

